$turquoise: #13A89E;
$darker-turquoise: #11978E;
$darkest-turquoise: #0B645E;
$dark: #1d2d35;
$dark-lighter: #385766;
$medium: #9aa6af;
$light: #D8D5DB;
$white: #FFF;
$black: #000;
$break-point: 500px;
$outline-width: 0;

::selection {
  background: $turquoise;
}

::-moz-selection {
  background: $turquoise;
}

body {
  background-color: $dark;
  margin: 0 0;
  width: 100%;
}

a {
  text-decoration: none;
  &:hover {text-decoration: none;}
  &:active {text-decoration: none; color: $dark;}
  &:visited {text-decoration: none;}
  &:link {text-decoration: none; color: $dark;}
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
}

h3, h4 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
  color: $turquoise;
  font-size: 5em;
}

h2 {
  color: $darker-turquoise;
  font-size: 4em;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
}

h3 {
	color: $dark;
	font-size: 2.3em;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: $dark;
  font-size: 1.3em;
  line-height: 1.5em;
  margin-top: 10px;
}

.dark-section {
  background-color: $dark;
  color: $light;
  font-family: 'Open Sans', sans-serif;
}

.light-section {
  background-color: $light;
  color: $dark;
  font-family: 'Open Sans', sans-serif;
}

nav {
  position: fixed;
}

header {
  background-color: $turquoise;
  position: fixed;
  width: 100%;

  h1 {
    display: inline;
    color: $white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }

  img {
    display: inline;
    height: 50px;
    padding-bottom: 5px;
    margin-top: -10px;
    padding-left: 15px;
    padding-right:0;
    vertical-align: middle;
  }
}

.lang-choice {
  display: inline-block;
  padding:0;
  margin:0;
  margin-right:10px;
  margin-top: 10px;
  float: right;
  vertical-align: middle;

  .btn {
    background-color: transparent;
    border: none;

    i {
      color: $white;
      font-size: 2em;
    }

    &:hover {
      border: none;
      background-color: transparent;

      i {
        color: $dark;
      }
    }

    &:focus {
      i {
        color: $dark;
      }
    }
  }

  ul {
      width: 100%;

      li {
        display: block;
        width: 100%;

        &:hover {
          background-color: $light;
        }
      }
    }
}

.lang-choice2 {
  display: none;
  padding:0;
  margin:0;
  margin-right:10px;
  margin-top: 10px;
  float: right;
  vertical-align: middle;

  .btn {
    background-color: transparent;
    border: none;

    i {
      color: $white;
      font-size: 2em;
    }

    &:hover {
      border: none;
      background-color: transparent;

      i {
        color: $dark;
      }
    }

    &:focus {
      i {
        color: $dark;
      }
    }
  }

  ul {
      width: 100%;
      height: 95px;

      li {
        width: 100%;

        &:hover {
          background-color: $light;
        }
      }
    }
}

@media only screen and (max-width: 780px) {

header {

  h1 {
    display: block;

  }

  img {
    display: none;
  }
}

.lang-choice {
  display: none;
}

.lang-choice2 {
    display: inline;
    position: fixed;
    bottom: 10px;
    left: 10px;

    .btn {
    i {
      font-size: 2.5em;
    }
  }
}
}

nav li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: $white;
  padding: 19px 25px;
  display: block;
}

nav li a:hover {
  color: $dark;
}

.container {
  position: relative;
  z-index: 0;
  margin:0;
  width: 100%;
}

#about-me {
  margin-top:-60px;
  padding-top:60px;
}

#resume {
  position: relative;
  top:100vh;
  margin-top:-60px;
  padding-top:60px;
  z-index: -999;
}

#projects {
  position: relative;
  top:100vh;
  margin-top:-60px;
  padding-top:60px;
  z-index: -999;
}

#welcome {
  position: fixed;
  z-index: -1;
  display: block;
  background: $light url("../img/photo-cropped.png") no-repeat;
  background-position: right center;
  background-attachment: fixed;
  width:100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  position: fixed;
  margin-top: 60px;
  width: 100%;
  height: 100%;
  padding: 45px;
  background: -moz-linear-gradient(left,  rgba(216,213,219,1) 0%, rgba(216,213,219,0.9) 35%, rgba(216,213,219,0.61) 50%, rgba(216,213,219,0) 60%, rgba(216,213,219,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(216,213,219,1) 0%,rgba(216,213,219,0.9) 35%,rgba(216,213,219,0.61) 50%,rgba(216,213,219,0) 60%,rgba(216,213,219,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(216,213,219,1) 0%,rgba(216,213,219,0.9) 35%,rgba(216,213,219,0.61) 50%,rgba(216,213,219,0) 60%,rgba(216,213,219,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d5db', endColorstr='#00d8d5db',GradientType=1 ); /* IE6-9 */

  #text {
    padding-left:10px;
    
    p {
      font-size: 1.75em;
      line-height: 2.2em;

      a {
        color: $darker-turquoise;
      }
    }

    h1 {
      font-size: 6em;
      padding-bottom: 25px;
      padding-top: 50px;
    }
  }
}

#arrow-down {
  position: absolute;
  height: 45px;
  left:50%;
  top: 92vh;
  margin-left: -22.5px;
  z-index: -1;
}

/* Small desktop */
@media only screen and (max-width: 1280px){
  .overlay {
  #text {
    padding-left:10px;
    
    p {
      font-size: 1.65em;
    }

    h1 {
      font-size: 5.5em;
      padding-top: 40px;
    }
  }
}
}

/* Ultrabooks */
@media only screen and (max-height: 900px){
  .overlay {
  background: -moz-linear-gradient(left,  rgba(216,213,219,1) 0%, rgba(216,213,219,0.9) 45%, rgba(216,213,219,0.61) 55%, rgba(216,213,219,0) 60%, rgba(216,213,219,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(216,213,219,1) 0%,rgba(216,213,219,0.9) 45%,rgba(216,213,219,0.61) 55%,rgba(216,213,219,0) 60%,rgba(216,213,219,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(216,213,219,1) 0%,rgba(216,213,219,0.9) 45%,rgba(216,213,219,0.61) 55%,rgba(216,213,219,0) 60%,rgba(216,213,219,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d5db', endColorstr='#00d8d5db',GradientType=1 ); /* IE6-9 */

  #text {
    padding-left:5px;
    
    p {
      font-size: 1.5em;
      line-height: 1.9em;
    }

    h1 {
      font-size: 5.5em;
      padding-top: 10px;
    }
  }
}
}

/* Tablets */
@media only screen and (max-height: 768px) and (max-width: 1024px){
  .overlay {
  background: -moz-linear-gradient(left,  rgba(216,213,219,1) 0%, rgba(216,213,219,0.9) 55%, rgba(216,213,219,0.61) 65%, rgba(216,213,219,0) 70%, rgba(216,213,219,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(216,213,219,1) 0%,rgba(216,213,219,0.9) 55%,rgba(216,213,219,0.61) 65%,rgba(216,213,219,0) 70%,rgba(216,213,219,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(216,213,219,1) 0%,rgba(216,213,219,0.9) 55%,rgba(216,213,219,0.61) 65%,rgba(216,213,219,0) 70%,rgba(216,213,219,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d5db', endColorstr='#00d8d5db',GradientType=1 ); /* IE6-9 */

  #text {
    padding-left:5px;
    
    p {
      font-size: 1.5em;
      line-height: 1.9em;
    }

    h1 {
      font-size: 5.5em;
      padding-top: 10px;
    }
  }
}
}

/* Bootstrap changes text configurations */
@media only screen and (max-width: 992px){
  .overlay {
  background: rgba(255,255,255,0.8);

  #text {
    padding-left:5px;
    
    p {
      font-size: 1.5em;
      line-height: 1.9em;
    }

    h1 {
      font-size: 5.5em;
      padding-top: 10px;
    }
  }
}
}

/* High-end Windows phone */
@media only screen and (max-width: 768px){
  .overlay {
  background: rgba(255,255,255,0.8);

   #text {
    padding-left:5px;
    
    p {
      font-size: 1.7em;
      line-height: 2em;
    }

    h1 {
      font-size: 5.5em;
      padding-top: 10px;
    }
  }
}
}

/* iPhone */
@media only screen and (max-width: 640px){
  .overlay {
  background: rgba(255,255,255,0.8);

  #text {
    padding-left:5px;
    
    p {
      font-size: 1.5em;
      line-height: 1.9em;
    }

    h1 {
      font-size: 5.5em;
      padding-top: 10px;
    }
  }
}
}

/* Low-end Windows phone */
@media only screen and (max-width: 480px){
  .overlay {
  background: rgba(255,255,255,0.8);

  #text {
    padding-left:5px;
    
    p {
      font-size: 1.3em;
      line-height: 1.7em;
    }

    h1 {
      font-size: 4.9em;
      padding-top: 5px;
      padding-bottom: 0px;
    }
  }
}
}

/* Old iPhones */
@media only screen and (max-width: 360px){
  .overlay {
  background: rgba(255,255,255,0.8);
  padding: 15px;

  #text {
    padding-left:0px;
    
    p {
      font-size: 1.1em;
      line-height: 1.2em;
    }

    h1 {
      font-size: 2.7em;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}

#arrow-down {
  display: none;
}
}

hr {
  width: 150px;
  border-width: 5px;
  border-color: $turquoise;
  padding-bottom: 30px;
}

.light-hr {
  border-color: $light;
}

.light-text {
  color: $light;
}

.dark-hr {
  border-color: $dark;
}

.dark-text {
  color: $dark;
}

.centered {
  text-align: center;
}

#cv {
  position: relative;
  z-index: -1;
  top: 100vh;
  padding: 50px;
  width:100%;
}

#portfolio {
  position: relative;
  z-index: -1;
  top: 100vh;
  padding: 50px;
  width:100%;
}

#steps {
  padding-top: 85px;
  padding-bottom: 50px;
}

.steps-timeline {
  outline: 1px dashed rgba(red, $outline-width);
  
  @media screen and (max-width: $break-point) {
    border-left: 2px solid $turquoise;
    margin-left: 25px;
  }
  
  @media screen and (min-width: $break-point) {
    border-top: 2px solid $turquoise;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 16.65%;
    margin-right: 16.65%;
  }
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.steps-one,
.steps-two,
.steps-three {
  outline: 1px dashed rgba(green, $outline-width);
  
  @media screen and (max-width: $break-point) {
    margin-left: -75px;
  }
  
  @media screen and (min-width: $break-point) {
    float: left;
    width: 33%;  
    margin-top: -100px;
  }
}
.steps-one,
.steps-two {
  @media screen and (max-width: $break-point) {
    padding-bottom: 40px;
  }
}
.steps-one {
  @media screen and (min-width: $break-point) {
    margin-left: -16.65%;
    margin-right: 16.65%;
  }
}
.steps-two {
  
}
.steps-three {
  @media screen and (max-width: $break-point) {
    margin-bottom: -100%;
  }
  @media screen and (min-width: $break-point) {
    margin-left: 16.65%;
    margin-right: -16.65%;
  }
}

.steps-img {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid $turquoise;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  
  @media screen and (max-width: $break-point) {
    float: left;
    margin-right: 20px;
  }
}

.steps-name,
.steps-description {
  margin: 0;
}
.steps-name {
  color: $turquoise;
  padding-top: 15px;
  font-size: 2.1em;
  
  @media screen and (min-width: $break-point) {
    text-align: center;
  }
}
.steps-description {
  color: $light;
  overflow: hidden;
  
  @media screen and (min-width: $break-point) {
    text-align: center;
  }
}

.steps-sub-description {
  color: $medium;
  font-size: 1.25em;
  text-align: center;
}

#lang-charts {
  padding-top: 30px;
}

#lang-charts-row {
  margin: 0 auto;
  text-align: center;
}

.radial-graph {
  position: relative;
  display: inline-block;
  margin: 25px;
  float: center;
}

dl {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  position: relative;
  padding: 20px;
}

dt {
  align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 130px;
}

.text {
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  position: absolute;
  left: 0;
  justify-content: flex-end;
  font-size: 1.2em;
}

.percentage {
  line-height: 1;
  width: 100%;
  height: 40px;
  margin-left: 130px;
  background: repeating-linear-gradient(
  to right,
  transparent,
  transparent 1px,
  transparent 1px,
  transparent 5%
);
  
  &:after {
    content: "";
    display: block;
    background-color: $darkest-turquoise;
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease;
    cursor: pointer;
  }
  &:hover,
  &:focus {
    &:after {
       background-color: $turquoise; 
       cursor: default;
    }
  }
}

@for $i from 1 through 100 {
  .percentage-#{$i} {
    &:after {
      $value: ($i * 1%);
      width: $value;
    }
  }
}

.download-btn {
  display: inline-block;
  position: relative;
  margin-left: 50%;
  margin-top: 30px;
  left: -155px;
  width: 310px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;
  color: $light;
  background-color: $dark-lighter;
  border: none;
  padding: 15px;
  border-radius: 10px;

  span {
    padding-right: 12px;
  }

  &:hover {
    background-color: $darkest-turquoise;
  }

  &:focus {
    background-color: $darkest-turquoise;
  }
}

.card {
  background-color: $dark-lighter;

  .card-image {

    img {
      user-drag: none; 
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    .card-title {
      text-shadow: 0px 0px 5px #000;
      line-height: 1.2em;
      font-family: 'Open Sans', sans-serif;

      small {
        text-shadow: none;
        font-size: 70%;
        color: $dark;
        background-color: rgba(255,255,255,0.6);
        padding: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
        border-radius: 5px;
      }
    }
  }

  .card-action {

    a {
      color: $turquoise !important;

      &:hover {
        color: $light !important;
      }
    }
  }
}

#all-cards {
  padding-top: 15px;
}

footer {
  position: relative;
  z-index: -1;
  background-color: $darker-turquoise;
  top: 100vh;
  padding: 800px;
  height: 100vh;

  .subfooter {
    background-color: $darkest-turquoise;
    color: $dark;
  }
}