/* line 8, ../sass/style.scss */
::selection {
  background: #13a89e;
}

/* line 12, ../sass/style.scss */
::-moz-selection {
  background: #13a89e;
}

/* line 16, ../sass/style.scss */
body {
  background-color: #5a4a42;
  margin: 0 auto;
  width: 100%;
}

/* line 26, ../sass/style.scss */
h3, h4 {
  font-family: 'Raleway', sans-serif;
}

/* line 30, ../sass/style.scss */
h3 {
  color: #c7b99f;
  font-size: 2.3em;
}

/* line 35, ../sass/style.scss */
.logo-lang {
  position: absolute;
  top: 0;
  margin: 1.5em;
}

/* line 41, ../sass/style.scss */
#main-logo {
  width: 15%;
  min-width: 15em;
}

/* line 46, ../sass/style.scss */
#name {
  text-align: center;
}

/* line 50, ../sass/style.scss */
#name-box {
  min-width: 15em;
  margin-top: -10px;
}

/* line 55, ../sass/style.scss */
.lang-choice {
  float: right;
}
/* line 58, ../sass/style.scss */
.lang-choice button {
  background-color: #c7b99f;
  border: #c7b99f;
}
/* line 62, ../sass/style.scss */
.lang-choice button i {
  color: #5a4a42;
  font-size: 1.3em;
}
/* line 67, ../sass/style.scss */
.lang-choice button:hover {
  background-color: #c7b99f;
}
/* line 70, ../sass/style.scss */
.lang-choice button:hover i {
  color: white;
}
